<h1>Welcome, <%= @name %></h1>

<% if @game %>
    <p> <%= @name %>'s move :  <%= @game.player_move.capitalize %></p>
<% else %>
    <form action="/move" method="post">
        <input type="submit" name="rock" value="Rock">
    </form>
<% end %>